# Build directories
build/
build_*/
**/build/
**/cmake_build/

# CMake cache files
CMakeCache.txt
**/CMakeCache.txt
CMakeFiles/
**/CMakeFiles/


# IDE
.vscode/
.idea/
.git/

# Dependency build artifacts
dependencies/

