[submodule "dependencies/pjproject"]
	path = dependencies/pjproject
	url = https://github.com/savoirfairelinux/pjproject
[submodule "dependencies/opendht"]
	path = dependencies/opendht
	url = https://github.com/savoirfairelinux/opendht
[submodule "dependencies/restinio"]
	path = dependencies/restinio
	url = https://github.com/aberaud/restinio
