Source: dhtnet
Section: net
Priority: optional
Maintainer: Louis Maillard <louis.maillard@savoirfairelinux.com>
Build-Depends: cmake, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://git.jami.net/savoirfairelinux/dhtnet
Vcs-Git: https://git.jami.net/savoirfairelinux/dhtnet.git

Package: dhtnet
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: dsh
Description: A P2P networking toolkit to establish P2P connections via public keys, communicate without central servers.

