#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
# export JAVA_HOME=/usr/lib/jvm/default-java
# export CLASSPATH=/usr/share/java/csv.jar:/usr/share/java/debug-disable.jar:/usr/share/java/itext.jar
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ 
# dh $@ --with javahelper 

override_dh_auto_configure:
	dh_auto_configure -- \
	      -DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)" \
		  -DBUILD_TESTING=OFF \
		  -DBUILD_BENCHMARKS=OFF \
		  -DBUILD_SHARED_LIBS=ON \
		  -DBUILD_DEPS_STATIC=ON \
		  -DDNC_SYSTEMD=ON
